<h2 class="title">Manage Suppliers - {{ company.fantasyName }}</h2>

<input type="text" placeholder="Search supplier" [formControl]="filter" class="filter-input" />

<table mat-table [dataSource]="suppliers()" class="mat-elevation-z8 supplier-table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let supplier">
      {{ supplier.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="document">
    <th mat-header-cell *matHeaderCellDef>CPF / CNPJ</th>
    <td mat-cell *matCellDef="let supplier">
      {{ supplier.document }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let supplier">
      @if(!linkedSupplierIds().has(supplier.id)){
      <button mat-button class="add-button" (click)="addSupplier(supplier)">Add</button>
      } @else {
      <button mat-button class="delete-button" (click)="removeSupplier(supplier)">Delete</button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">No suppliers found</td>
  </tr>
</table>
