.title {
  text-align: center;
  color: var(--purple);
  font-size: clamp(0.3rem, 8vw, 1.5rem);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0.5rem 1rem;

  mat-form-field {
    width: 100%;
    border-radius: 15px;

    input {
      padding: 0 1rem;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  mat-error {
    color: red;
    text-align: center;
  }
}

button {
  border: 1px solid transparent;
  border-radius: 25px;
}

.cancel-button {
  background-color: rgb(220, 154, 248);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(211, 110, 255);
  }
}

.save-button {
  background-color: var(--purple);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-purple);
  }

  &:disabled {
    background-color: #c4c4c4;
  }
}
